<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tencent.wxcloudrun.dao.RoomMapper">

    <resultMap id="RoomResultMap" type="com.tencent.wxcloudrun.model.Room">
        <id property="RoomId" column="room_id"/>
        <result property="RoomNumber" column="room_number"/>
        <result property="RoomAddress" column="room_address"/>
        <result property="RoomArea" column="room_area"/>
        <result property="RoomType" column="room_type"/>
        <result property="RoomPayment" column="room_payment" typeHandler="com.tencent.wxcloudrun.utils.JsonTypeHandler"/>
        <result property="RoomFurniture" column="room_furniture" typeHandler="com.tencent.wxcloudrun.utils.JsonTypeHandler"/>
        <result property="RoomVideo" column="room_video" typeHandler="com.tencent.wxcloudrun.utils.JsonTypeHandler"/>
        <result property="PropertyId" column="property_id"/>
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="RoomId">
        INSERT INTO room_information (
            room_number,
            room_address,
            room_area,
            room_type,
            room_payment,
            room_furniture,
            room_video,
            property_id
        ) VALUES (
                     #{RoomNumber},
                     #{RoomAddress},
                     #{RoomArea},
                     #{RoomType},
                     #{RoomPayment,  typeHandler=com.tencent.wxcloudrun.utils.JsonTypeHandler},
                     #{RoomFurniture, typeHandler=com.tencent.wxcloudrun.utils.JsonTypeHandler},
                     #{RoomVideo, typeHandler=com.tencent.wxcloudrun.utils.JsonTypeHandler},
                     #{PropertyId}
                 )
    </insert>

    <update id="update">
        UPDATE room_information SET
                        room_number = #{RoomNumber},
                        room_address = #{RoomAddress},
                        room_area = #{RoomArea},
                        room_type = #{RoomType},
                        room_payment = #{RoomPayment, typeHandler=com.tencent.wxcloudrun.utils.JsonTypeHandler},
                        room_furniture = #{RoomFurniture, typeHandler=com.tencent.wxcloudrun.utils.JsonTypeHandler},
                        room_video = #{RoomVideo, typeHandler=com.tencent.wxcloudrun.utils.JsonTypeHandler},
                        property_id = #{PropertyId}
        WHERE room_id = #{RoomId}
    </update>

    <delete id="delete">
        DELETE FROM room_information WHERE room_id = #{roomId}
    </delete>

    <select id="selectById" resultMap="RoomResultMap">
        SELECT * FROM room_information WHERE room_id = #{roomId}
    </select>

    <select id="selectAll" resultMap="RoomResultMap">
        SELECT * FROM room_information
    </select>

    <select id="selectByPropertyId" resultMap="RoomResultMap">
        SELECT * FROM room_information WHERE property_id = #{propertyId}
    </select>

    <select id="selectByConditions" resultMap="RoomResultMap">
        SELECT * FROM room_information
        <where>
            <if test="params.roomNumber != null">
                AND room_number = #{params.roomNumber}
            </if>
            <if test="params.roomType != null">
                AND room_type = #{params.roomType}
            </if>
            <if test="params.propertyId != null">
                AND property_id = #{params.propertyId}
            </if>
            <!-- Add more conditions as needed -->
        </where>
    </select>

</mapper>